*{
   transition: 0.6s ease all;
}
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #FCFBFAff;
   z-index: 10;
   text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
   background-color: #F7DFDCff;
   transition: 0.6s ease all;
  
}

/* Header Styles */
header {
   /* background-color: #FF6B6B;
   padding: 10px 0;
   border-bottom: 1px solid #DDDDDD;
    */
    
   background-color: #FBB9AEff;
   padding: 10px 0;
   border-bottom: 1px solid #060504ff;
   
}

.navbar {

   padding: 0;
   /* height: 30vmin; */
}

.navbar-brand img {
   max-height: 100px;
}
.navbar-brand {
   color: #FFFFFF;
   font-weight: bold;
   font-size: 24px;
   
   color: #060504ff;
   font-weight: bold;
   font-size: 24px;
   
}
.navbar button{
   /* border: 5px solid red !important; */
   background: #F7DFDCff;
}
.navbar button:hover{
   /* border: 5px solid red !important; */
   outline-color: #FBB9AEff;
}
navbar-nav .nav-link {
   color: #060504ff;
   font-weight: bold;
   transition: color 0.3s;
   
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
   /* width: 52px; */
   /* height: 32px; */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 11;
  /* border: 2px solid black; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  /* left: 4px; */
  bottom: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 11;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar-nav .nav-link:hover {
   color: #008080;
   color: #FBB9AEff;
}
.navbar-toggler-icon {
   background-color: #F7DFDCff;
   
}

.navbar-nav {
   margin-top: 10px;
   
}

.nav-link {
   color: #333;
   margin-right: 20px;
   transition: color 0.3s;
}

.nav-link:hover {
   color: #007bff;
}

contact-form {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f8dfdb;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
   margin-bottom: 20px;
}

.form-control {
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 14px;
}

.btn-primary {
   background-color: #f7dfdc;
   border: none;
   color: #060504;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
   background-color: #fcfbfa;
   color: #f7dfdc;
}
.thank-you-message{
   text-align: center;
   color: springgreen;
   padding: 25% 10%;
   position: fixed;
   width: 100vw;
   top: 20%;
   height: 70%;
   background: #f8dfdb;
}
/*  */
.social-icons{
   display: flex;
   justify-content: space-around;
}
.social-icons li{
   font-style: none;
   text-decoration: none;
}




.dark{
-webkit-filter: invert(100%) saturate(200%);
filter: invert(100%) saturate(200%);

}
